.pokeball-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.pokeball-img {
  width: 40px;
  height: 40px;
  display: block;
}

