.pokeball-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: inline-block;
}

.pokeball-img {
  width: 40px;
  height: 40px;
  display: block;
}

.reset-btn {
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  padding: 8px 0px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-left: -10px;
  margin-top: 5px;

  &:hover {
    cursor: pointer;
  }
}

.reset-btn-icon {
  width: 40px;
  height: 40px;
  fill: #EE151D;
  stroke: none;
  display: block;
}

