.header-hero {
  width: 100%;
  height: 300px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hero-image {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-position: 50% -100px;
}
